nav {
    background-color: #ffff00;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #0073e6; 
}
nav a:hover {
    background-color: #00FF00;
}
nav {
    padding: 10px;
}
nav {
    margin-bottom: 30px;
}
.evenrow {background-color: aliceblue;}